
/* Constants */
	
/* Colors : #3b8a13 => green,#791313 => red, #bfbfbf => white */
body {
	font-family: 'Lato', sans-serif;
	background: #101010;
}
hr {
	border-color: #fff;
	border-width: thin;
}

/* 404  Error Page */

.error-404 {
	padding: 0;
	margin:0;
}

.error-404 p {
	padding-top: 150px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin: 0;
}
.error-404 .error-text {
	padding-top: 10px;
}
.error-404 h1 {
	font-size: 200px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
.error-404 .buttons {
	text-align: center;
	padding: 0;
	margin: 0;
}
.error-404 .buttons a {
	color: #bfbfbf;
	background: #791313;
	border-color: #791313;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 3px;
	margin: 0;
}
.error-404 .buttons a:hover {
	color: #fff
}
/* Header */

.header {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url('../images/header_home.jpg');
}

.header nav div ul li a {
	color: gray;
	font-size: 20px
}

.header nav div .navbar-brand {
	color: gray;
	font-size: 25px;
	transition: .2s ease-in-out;
}
.header nav div .navbar-brand span {
	font-size: 25px;
}
.header nav div .navbar-brand img {
	transition: .2s ease-in-out;
	opacity: .8;
}
.header nav div .navbar-brand:hover img {
	opacity: 1;
}
.header nav div .navbar-brand:hover,
.header nav div ul li a:hover {
	color: #bfbfbf;
}


.top,.middle {
	margin-top: 70px;
	color: #bfbfbf;
}
.middle p {
	font-size: 30px;
}
.middle p span {
	color: #3b8a13;
}

.bottom {
	width: 400px;
	margin: 100px auto;
}
.bottom a.btn {
	color: #bfbfbf;
	margin-left: 15px;
	width: 170px;
	transition: .2s ease-in-out;
	font-size: 23px;
	padding: 10px;
	font-weight: lighter;
}
.bottom a.btn:hover {
	color: #fff;
}
.bottom a.read {
	background: #791313;
	border-color: #791313;
}
.bottom a.write {
	border-color: #bfbfbf;
	color: 791313;
}
.bottom a.write:hover {
	background: #791313;
	border-color: #791313;
}

/* Posts */

.posts {
	margin-top: 100px;
	background: #151414;
}
.posts .post {
	margin-bottom: 100px;
}
.posts .post .post-image a img {
	transform: scale(.985, .985);
	transition: .3s ease-in;
}
.posts .post .post-image a img:hover {
	transform: scale(1, 1);
}
.posts .post .post-title {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
}
.posts .post .post-title a {
	text-decoration: none;
	color: #bfbfbf;
	padding:5px;
}

.posts .post .post-title a:hover {
	color: #fff;
}
.posts .post .post-info p {
	color: #888;
	font-size: 15px;
}
.posts .post .post-info p span:nth-child(2),
.posts .post .post-info p span:nth-child(3){
	margin-left: 20px !important;
}

.posts .post .post-content p {
	color: #bfbfbf;
	padding: 20px;
	font-size: 23px;
}
.posts .post .post-content a.btn-default {
	background: #791313;
	border-color: #791313;
	color: #bfbfbf;
	margin-left: 10px;
}
.posts .post .post-content a.btn-default:hover {
	color: #fff;
}


/* Pagination */

div ul.pagination .page-item.active .page-link {
	border-color: #791313;
	background-color: #791313;
	color: #fff;
}


/* Sidebar */

	/* Posts */
.posts-sidebar,
.categories-sidebar,
.button-sidebar {
	margin-top: 100px;
	border: 1px solid #2d2d2d;
	box-shadow: 0px 1px 5px #2d2d2d;
}

.posts-sidebar .sidebar-header,
.categories-sidebar .sidebar-header,
.button-sidebar .button-header {
	padding: 10px 0 0 20px;
	color: #bfbfbf;
	border-bottom: 1px solid #791313;
	background: #791313;
}

.posts-sidebar .sidebar-post,
.categories-sidebar .sidebar-post {
	margin-top: 10px;
	margin-bottom: 5px;
}
.posts-sidebar .sidebar-post a,
.categories-sidebar a {
	color: #bfbfbf;
	text-decoration: none;
}
.posts-sidebar .sidebar-post a:hover,
.categories-sidebar a:hover {
	color: #fff;
}
 	/* Categories */
.categories-sidebar,
.button-sidebar { 
	margin-top: 50px;
}
.categories-sidebar a {
	font-size: 18px;
	padding: 5px;
	margin:5px;
}
	/* Button */

.button-sidebar .sidebar-content a.btn-default {
	color: #bfbfbf;
	border-color: #2f2f2f;
	width: 94%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 3%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.button-sidebar .sidebar-content a.btn-default:hover{
	color: #fff;
	background-color: #3b8a13;
	border-color: #3b8a13;
}


/* Individual Post */

.posts .one-post {
	margin-bottom: 50px;
}
.posts .one-post .post-category {
	margin-left: 20px;
	color: #bfbfbf;
}
.posts .one-post .post-category a {
	text-decoration: none;
	color: #bfbfbf;
	background: #383838;
	padding: 3px 15px;
	margin-left: 10px;
	border-radius: 7px;
}
.posts .one-post .post-category a:hover {
	color: #fff;
}


/* Author */


.author-intro {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	color: #bfbfbf;
}

.author-intro a.btn-default {
	color: #bfbfbf;
	border-color: #3b8a13;
	background-color: #3b8a13;
	margin-left: 20px;
}
.author-intro a.btn-default:hover {
	color: #fff;
}

.author-info {
	margin-top: 10px;
	margin-left: 20px;
}


/* Comments */

.post-comments {
	margin-top: 50px;
	padding: 10px;
}
.post-comments > h2 {
	color: #bfbfbf;
	margin-bottom: 50px;
	margin-left: 10px;
}
.post-comments .comment {
	margin-top: 25px;
}
.post-comments .comment-info {
	color: #bfbfbf;
}
.post-comments .comment-info h6 {
	color: grey;
}
.post-comments .comment-info h6 span{
	font-size: 13px;
	margin-left: 5px;
}

.post-comments .comment-info p.lead {
	font-size: 18px;
}


/* Add Comment */

.add-comment {
	padding: 10px;
	margin-top: 20px;
}
.add-comment h5 {
	margin-left: 10px;
	margin-bottom: 20px;
	color: #bfbfbf;
}
.add-comment textarea {
	width: 95%;
	margin-left: 10px;
	background: #101010;
	height: 100px;
	max-height: 150px;
	color: #fff;
}

.add-comment textarea:focus {
	background: #101010;
	color: #fff;
}

.add-comment form .btn-default {
	color: #bfbfbf;
	border-color: #3b8a13;
	background-color: #3b8a13;
	margin-left: 10px;
}
.add-comment form .btn-default:hover {
	color: #fff;
}
	/* Guest */
.add-comment h6 {
	color: #bfbfbf;
	margin-left: 10px;
} 





/* Replies */

.replies {
	margin-top: 20px;
	color: #bfbfbf;
}
.replies .reply {
	margin-top: 25px;
}

.post-comments .reply-info h6 {
	color: grey;
}

.post-comments .reply-info p.lead {
	font-size: 18px;
}




/* Add Reply */

.post-comments .comment-info span.reply-btn {
	color: #791313;
	cursor: pointer;
}
.post-comments .comment-info form {
	margin-top: 10px;
	display: none;
}
.post-comments .comment-info form textarea {
	width: 95%;
	background: #101010;
	height: 100px;
	max-height: 150px;
	color: #fff;
}

.post-comments .comment-info form textarea:focus {
	background: #101010;
}

.post-comments .comment-info form .btn-default {
	color: #bfbfbf;
	border-color: #3b8a13;
	background-color: #3b8a13;
}
.post-comments .comment-info form .btn-default:hover{
	color: #fff;
}


/* Contact */

#contact {
	margin-top: 50px;
}
#contact h2 {
	color: #fff;
	margin-bottom: 20px;
}
#contact form .btn-default {
	color: #bfbfbf;
	background: #791313;
	border-color: #791313;
}
#contact form .btn-default:hover {
	color: #fff;
}

#contact form input[type="text"] {
	background: #232323;
	color: #fff;
}


#contact form textarea {
	background: #232323;
	color: #fff;
}

/* Footer */

footer .top p {
	font-size: 25px;
	font-weight: lighter;
	padding-top: 20px;
}

footer .container-fluid {
	background: #232323;
}

footer .footer-copyright {
	color: #bfbfbf;
	background: #1b1b1b;
}
.pb-5, .py-5 {
    padding-bottom: 0!important;
    padding-top: 2rem!important;
}

footer .container-fluid div div div a i {
	font-size: 30px;
	margin-left: 40px;
	color: #fff;
}
footer .container-fluid div div div a i.fa-facebook-f {
	color: #3b5998 ;
}
footer .container-fluid div div div a i.fa-google-plus {
	color: #dc4e41 ;
}
footer .container-fluid div div div a i.fa-linkedin {
	color: #0077b5 ;
}
footer .container-fluid div div div a i.fa-twitter {
	color: #55acee ;
}
footer .container-fluid div div div a i.fa-instagram {
	color: #517fa4 ;
}
footer .container-fluid div div div a i.fa-youtube {
	color: #b31217 ;
}

footer .flex-center {
	text-align: center;
	margin: auto;
}